@media only screen and (max-width: 1024px){
    .logo-area{
        padding: .5rem 0;
        margin-left: 4rem;
    }
    
    header .main-nav {
        width: 60%;
        padding: .5rem 0;
    }
    
    html{
        font-size: 57.5%;
    }
    
    .services-section .row{
        width: 100rem;
        margin: auto;
    }
    
    .services-section .span_1_of_4{
        width: 45%;
    }

}
























